@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(36, 36, 36);
  width: 100%;
  height: 100vh;
  .form-in {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    padding-top: 30px;
    transform: skew(-50deg);
    @include flex-center();
  }
  .txt-input {
    height: 100%;
    width: 350px;
    border: solid white 1px;
    background-color: rgba(241, 242, 243, 0.897);
    padding-left: 20px;
    @include flex-center;
    justify-content: flex-start;

    .input-field {
      height: 60%;
      width: 90%;
      transform: skew(50deg);
      margin-left: 10px;
      background-color: rgba(255, 0, 0, 0);
      border-style: none;
      font-size: 15px;
      color: rgb(37, 37, 37);
    }
  }

  .btn {
    height: 100%;
    width: 250px;
    background-color: rgb(235, 17, 17);
    border: solid white 1px;
    @include flex-center;
    &:hover {
      cursor: pointer;
    }
    .btn-in {
      height: 100%;
      width: 75%;
      transform: skew(50deg);
      background-color: rgba(255, 0, 0, 0);
      border-style: none;
      font-size: 15px;
      text-decoration: inherit;
      color: white;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
  }
  #box {
    margin: 50px auto 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;

    img {
      height: auto;
      width: 100%;
      margin: 0 auto;
    }
    h2 {
      margin: 0 auto;
      color: white;
      font-size: 20px;
      font-weight: 300;
      margin: 0 auto;
      left: 42.5%;
      position: absolute;
      font-family: Calibri;
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    .form-in {
      width: 80%;
      transform: skew(0deg);
      .txt-input {
        width: 60%;
        .input-field {
          transform: skew(0deg);
          width: 90%;
        }
      }

      .btn {
        width: 40%;
        .btn-in {
          transform: skew(0deg);
          width: 100%;
        }
      }
    }
    #box {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
